@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&display=swap');

/* SectonMain */
.sectionMain {
  position: relative;
}

.sectionMain .MainImg {
  margin: 33px 33px 33px 600px;
  width: 50%;
  height: 50%;
  position: relative;
}

.sectionMain .mainText1 {
  position: absolute;
  top: 30%;
  left: 1%;
  color: black;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 48px;
  font-weight: 900;
  margin-left: 300px;
}

/* LoginForm */
.login {
  position: absolute;
  width: 500px;
  height: 491px;
  border-radius: 50px;
}

/* Network */
.homeUsers {
  display: grid;
  place-content: center;
  grid-template-rows: repeat(3, minmax(300px, 350px));
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.homeUsers .homeUserCard {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 25px 0px;
  border: none;
  border-radius: 25px;
}

/* Portfolio */
.mypage .name {
  margin-top: 14px;
  display: flex;
}

.mypage .name h1 {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 900 bold;
  width: auto;
}

.mypage .name .clickCount {
  margin-left: 550px;
  margin-top: 20px;
}

.mypage .line {
  font-size: 45px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin-bottom: 50px;
}

.mypage .homeButton {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #339af0;
}

.mypage div {
  /* neutral/gray light */
  box-sizing: border-box;
  border-radius: 8px;
}

.mypage .myPageCard {
  width: 300px;
  padding: 0px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.mypage .myPageCard p {
  padding-top: 10px;
  padding-left: 12px;
}

.mypage .user .user_button {
  display: flex;
}

.mypage .myPageCard .user_button button {
  margin-left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #339af0;
}

.mypage .email,
.mypage .introduce {
  width: 1000px;
  margin-bottom: 20px;
}

.mypage .projects,
.mypage .educations,
.mypage .awards,
.mypage .certificates,
.mypage .CareerSkill {
  width: 1000px;
  margin-bottom: 20px;
  border: 1px #c7c8d2;
}

.portfolioTitle {
  display: flex;
}

/* userCard Edit */

.userCardEdit {
  width: 300px;
  padding: 0px;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* modal */
.loginModal {
  width: 200px;
}

.modalTitle {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 100px;
  font-weight: 900 bold;
  padding-bottom: 20px;
}

.userName {
  font-size: 20px;
  font-weight: bold;
  height: 30px;
  margin-right: 10px;
  padding: 0px 5px;
}

.userEmail {
  font-size: 17px;
  height: 30px;
  margin-right: 10px;
  padding: 0px 5px;
}

.clickCount {
  background-color: #a5d8ff;
  color: white;
  text-align: center;
  font-weight: 600;
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 25px;
}

.networkBtn {
  outline: none;
  box-shadow: none;
  border: none;
  background-color: white;
}

/* SectionHome */
.sectionHomeSelect {
  display: flex;
  padding-left: 100px;
  cursor: pointer;
}
